VALidater/CGNS/VAL/schema/rnc/sids-12-10.rnc

Gravity_t = element Gravity_t 
{
 attribute Name      {Name_t},
 attribute DataClass {DataClass_t}?,
 ( Descriptor_t* 
 & DataArray_t*  
 & GravityVector_t
 & DimensionalUnits_t?
 & UserDefinedData_t*
 )
}
        
GravityVector_t = element GravityVector_t 
{ 
 attribute Name            {xsd:string "GravityVector"},
 attribute DataType        {xsd:string "RealDouble"},
 attribute Dimension       {xsd:unsignedInt "1"},
 attribute DimensionValues {xsd:string},
 DataArrayExt
}   