VALidater/CGNS/VAL/schema/rnc/sids-10-4.rnc

ViscosityModel_t = element ViscosityModel_t 
{
 attribute Name               {Name_t},
 attribute ViscosityModelType {ViscosityModelType_t},
 attribute DataClass          {DataClass_t}?,
 ( Descriptor_t *
 & DataArray_t *
 & DimensionalUnits_t ?
 & UserDefinedData_t *
 )
}

ViscosityModelType_t =
 "Null"          |
 "Constant"      |
 "PowerLaw"      |
 "SutherlandLaw" |
 "UserDefined"
