VALidater/CGNS/VAL/schema/rnc/sids-10-6-1.rnc

TurbulenceClosure_t = element TurbulenceClosure_t 
{
 attribute Name                  {Name_t},
 attribute TurbulenceClosureType {TurbulenceClosureType_t},
 attribute DataClass             {DataClass_t}?,
 ( Descriptor_t *
 & DataArray_t *
 & DimensionalUnits_t ?
 & UserDefinedData_t *
 )
}
  
TurbulenceClosureType_t =
 "Null"                    |
 "EddyViscosity"           |
 "ReynoldsStress"          |               
 "ReynoldsStressAlgebraic" |
 "UserDefined"
  

