VALidater/CGNS/VAL/schema/rnc/sids-12-3.rnc

ConvergenceHistory_t = element ConvergenceHistory_t 
{
 attribute Name       {Name_t},
 attribute Iterations {xsd:unsignedInt},
 attribute DataClass  {DataClass_t}?,
 ( NormDefinitions_t?    
 & Descriptor_t*         
 & DataArray_t*          
 & DimensionalUnits_t?   
 & UserDefinedData_t*
 )       
}

NormDefinitions_t = element NormDefinitions_t 
{
 attribute Name {Name_t}, 
 DescriptorExt
}
