VAL/schema/rnc/sids-12-1.rnc

ReferenceState_t = element ReferenceState_t {
 attribute Name                 {Name_t},
 attribute DataClass            {DataClass_t}?,
 ( ReferenceStateDescription_t?  
 & Descriptor_t*
 & DataArray_t*
 & DimensionalUnits_t?           
 & UserDefinedData_t*
 )
}

ReferenceStateDescription_t = element ReferenceStateDescription_t {
 attribute Name {Name_t}, 
 DescriptorExt
}
