VAL/schema/rnc/sids-10-5.rnc

ThermalConductivityModel_t = element ThermalConductivityModel_t 
{
 attribute Name                         {Name_t},
 attribute ThermalConductivityModelType {ThermalConductivityModelType_t},
 attribute DataClass                    {DataClass_t}?,
 ( Descriptor_t *
 & DataArray_t *
 & DimensionalUnits_t?
 & UserDefinedData_t *
 )
}

ThermalConductivityModelType_t = 
 "Null"             |
 "ConstantPrandtl"  |
 "PowerLaw"         |
 "SutherlandLaw"    |
 "UserDefined"
