VAL/schema/rnc/sids-12-4.rnc

DiscreteData_t = element DiscreteData_t 
{
 attribute Name           {Name_t},
 attribute IndexDimension {DimensionInteger3D_t},
 attribute VertexSize     {VertexSize_t},
 attribute CellSize       {CellSize_t},
 attribute GridLocation   {GridLocation_t}?,
 attribute DataClass      {DataClass_t}?,
 ( Descriptor_t*         
 & Rind_t?               
 & DataArray_t*          
 & DimensionalUnits_t?   
 & UserDefinedData_t*
 )
}       
