VALidater/schema/rnc/sids-10-3.rnc

GasModel_t = element GasModel_t 
{
 attribute Name         {Name_t},
 attribute GasModelType {GasModelType_t},
 attribute DataClass    {DataClass_t}?,
 ( Descriptor_t *
 & DataArray_t *
 & DimensionalUnits_t ?
 & UserDefinedData_t *
 )
}

GasModelType_t = 
 "Null"              |
 "Ideal"             |
 "VanderWaals"       |
 "CaloricallyPerfect"|
 "ThermallyPerfect"  |
 "ConstantDensity"   |
 "RedlichKwong"      |
 "UserDefined"
